/* https://og-data.s3.amazonaws.com/CACHE/css/e702f4e34fd2.css */
.paginator-wrap {
   position: relative;
   max-width: 1152px;
   margin: 24px auto 6px;
   font-size: 14px;
   text-align: center;
   color: #989898;
   line-height: 1;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none
}

.paginator {
   display: inline-block;
   position: relative;
   white-space: nowrap
}

.paginator-btn {
   position: relative;
   display: block;
   float: left;
   width: 36px;
   height: 36px;
   border: 1px solid #dfdfdf;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: -1px;
   line-height: 34px;
   background-color: #fafafa
}

.paginator-btn:first-child {
   margin-left: 0
}

.paginator-btn.pb-current {
   border: 0;
   color: #222;
   font-weight: bold;
   background-color: #fff
}

.paginator-btn.pb-current:after {
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   border: 2px solid #222;
   z-index: 1
}

.paginator-dot {
   position: relative;
   display: block;
   float: left;
   width: 30px;
   height: 36px;
   line-height: 36px
}

.paginator-dot.pd-mb {
   display: none
}

.paginator-prev, .paginator-next {
   display: block;
   position: absolute;
   width: 34px;
   height: 34px;
   border: 1px solid #dfdfdf;
   line-height: 34px;
   background-color: #fff;
   color: #222
}

.paginator-prev {
   left: -52px
}

.paginator-next {
   right: -52px
}

.paginator-prev.disabled, .paginator-next.disabled {
   color: #dfdfdf;
   cursor: default
}

.paginator-prev:after, .paginator-next:after {
   content: '';
   position: absolute;
   display: block;
   border-top: 6px solid transparent;
   border-bottom: 6px solid transparent;
   top: 50%;
   margin-top: -6px
}

.paginator-prev:after {
   left: 50%;
   margin-left: -4px;
   border-right: 6px solid currentColor
}

.paginator-next:after {
   right: 50%;
   margin-right: -4px;
   border-left: 6px solid currentColor
}

@media screen and (max-width:767px) {
   .paginator-btn {
      display: none
   }
   .paginator-btn.pb-current, .paginator-btn.pb-end, .paginator-btn.pb-mb,
      .paginator.pgn_all>.paginator-btn {
      display: block
   }
   .paginator-dot.pd-mb {
      display: block
   }
   .paginator.pgn_all>.paginator-dot.pd-mb {
      display: none
   }
}

@media screen and (max-width:543px) {
   .paginator {
      position: static
   }
   .paginator-prev {
      left: 0
   }
   .paginator-next {
      right: 0
   }
}

#nonenenone.compress {
   display: inline
}

body {
   overflow-y: scroll
}

#contents {
   position: relative
}

#noticeBox-dsH3 {
   width: 96%;
   max-width: 1152px;
   margin: 56px auto -33px;
   font-size: 28px;
   font-weight: bold
}

.pageHead.pageHead-m {
   display: none
}

#ds-event-banner {
   position: relative;
   margin-bottom: 36px;
   font-size: 24px;
   text-align: center;
   background-color: #d2d2d2
}

#event_web_image {
   display: block
}

#event_web_tablet {
   display: none
}

#event_web_mobile {
   display: none
}

#ds-event-banner-under-543 {
   display: none
}

.ds-event-banner-txt {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%
}

.ds-event-banner-txt>div {
   color: #466ea4;
   font-weight: bold;
   font-size: 14px;
   margin-bottom: 15px;
   letter-spacing: 7px
}

.ds-event-banner-txt>p {
   font-weight: 300;
   font-size: 32px;
   margin-bottom: 4px;
   color: #222222;
   opacity: .8
}

.ds-event-banner-txt>span {
   font-size: 16px;
   line-height: 26px;
   display: inline-block;
   padding: 1px 10px;
   background: #466ea4;
   border-radius: 25px;
   text-align: center;
   vertical-align: top;
   color: #fff
}

.ds-event-banner-txt>span>span {
   vertical-align: top;
   padding-left: 14px
}

.ds-event-banner-txt:nth-child(n) {
   line-height: 1.5;
   text-align: left;
   padding-top: 24px;
   padding-left: 30px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box
}

.ds-event-banner-txt span {
   font-weight: bold
}

#ds-header-holder {
   position: relative;
   margin: 3px 0 3px;
   font-size: 14px;
   background: #fff;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none
}

#ds-header-inner {
   position: relative;
   padding: 0px 0;
   margin: 0 auto;
   line-height: 1.5
}

#ds-header.sticky {
   position: fixed;
   top: 60px;
   left: 0;
   right: 0;
   z-index: 9;
   -webkit-transition: top .1s ease-in-out;
   -o-transition: top .1s ease-in-out;
   transition: top .1s ease-in-out
}

#ds-header.sticky.headerHiding {
   top: 0
}

#ds-header.sticky #ds-header-inner {
   width: 96%;
   max-width: 1152px;
   border-bottom: 1px solid #eee
}

#ds-m-btn-show-filter {
   display: none
}

#ds-header-inner>h3 {
   float: left;
   font-size: 20px;
   font-weight: bold;
   line-height: 42px
}

#ds-header-inner>span {
   line-height: 42px;
   color: #989898
}

#ds-sorting-select {
   position: absolute;
   top: 15px;
   right: 0;
   width: 130px;
   border: 1px solid #dfdfdf;
   border-radius: 1px;
   background-color: #fff;
   cursor: pointer
}

#ds-sorting-select-selected {
   position: relative;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   height: 40px;
   padding: 9px 0 0 12px
}

#ds-sorting-select-selected:after {
   content: ' ';
   display: block;
   width: 18px;
   height: 18px;
   position: absolute;
   top: 50%;
   right: 6px;
   margin-top: -9px;
   /* background: url('/static/pages/img/service/discover/filter_sprite.png')
      -144px 0 no-repeat; */
   background-size: 162px 108px
}

.ds-sorting-select-option {
   display: none;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   height: 41px;
   padding: 9px 0 0 12px;
   border-top: 1px solid #dfdfdf;
   color: #989898;
   background-color: #fff;
   cursor: pointer
}

.ds-sorting-select-option:hover {
   background-color: #eee
}

.ds-sorting-select-option.selected, .ds-sorting-select-option.selected:hover
   {
   color: #fff;
   background-color: #222
}

#ds-sorting-select.unfolded {
   -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
   z-index: 5
}

#ds-sorting-select.unfolded .ds-sorting-select-option {
   display: block
}

#discover_contents {
   width: 100%;
   max-width: 1152px;
   margin: 0 auto;
   margin-top: 25px;
   position: relative;
   overflow: hidden
}

#discover_contents.for_luna {
   min-height: 4000px
}

#discover_filter {
   max-width: 1152px;
   margin: 14px auto 0;
   position: relative;
   overflow: hidden;
   line-height: 1;
   /* padding: 0px 15px 0px 15px; */
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none
}

.ds-filter-tag-bt-checkbox {
   display: none
}

.ds-filter-tag-bt-checkbox+label {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   color: #989898;
   border: 1px solid #dfdfdf;
   border-radius: 2px;
   background-color: #fff;
   cursor: pointer
}

.ds-filter-tag-bt-checkbox:checked+label {
   border: 1px solid #222;
   font-weight: bold;
   color: #222
}

#ds-filter-container-pc .ds-filter-item {
   border-top: 1px solid #dfdfdf;
   border-right: 1px solid #dfdfdf;
   border-bottom: 0;
   border-left: 2px solid #222;
   float: left;
   width: 100%;
   height: 60px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box
}

#ds-filter-container-pc .ds-filter-item:nth-child(1),
   #ds-filter-container-pc .ds-filter-item:nth-child(2) {
   width: 50%
}

#ds-filter-container-pc .ds-filter-item:nth-child(1) {
   border-right: 0
}

#ds-filter-container-pc .ds-filter-item:last-child {
   border-bottom: 1px solid #dfdfdf
}

#ds-filter-container-pc .ds-filter-item.shape, #ds-filter-container-pc .ds-filter-item.price
   {
   height: 70px
}

#ds-filter-container-pc .ds-filter-item.size {
   height: 80px;
   overflow: hidden
}

#ds-filter-container-pc .ds-filter-title {
   float: left;
   font-size: 15px;
   color: #222;
   font-weight: bold;
   padding-left: 14px;
   width: 86px;
   height: 100%;
   padding-top: 16px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   position: relative
}

#ds-filter-container-pc .ds-filter-tags {
   float: left;
   height: auto;
   padding: 10px 0 10px 10px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   max-width: 88%;
   max-width: -webkit-calc(100% - 120px);
   max-width: -moz-calc(100% - 120px);
   max-width: calc(100% - 120px)
}

#ds-filter-container-pc .ds-filter-tag-theme {
   float: left;
   width: 60px;
   height: 40px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   position: relative;
   margin-right: 14px
}

#ds-filter-container-pc .ds-filter-tag-theme:last-child {
   margin: 0
}

#ds-filter-container-pc .ds-filter-tag-theme>label {
   text-align: center;
   font-size: 14px;
   padding-top: 7px
}

#ds-filter-container-pc .ds-filter-tag-color {
   float: left;
   width: 36px;
   height: 36px;
   position: relative;
   margin-right: 14px
}

.dsf-tbc-color+label:before {
   content: '';
   display: block;
   width: 36px;
   height: 36px;
   border-radius: 50%;
   position: absolute;
   top: 0;
   left: 0;
   background:
      url('/alouer/resources/img/filter_sprite_20200325.png')
      no-repeat;
   background-size: 273px 232px
}

#ds-filter-container-pc .dsf-tbc-color+label,
   #ds-filter-container-mobile .dsf-tbc-color+label {
   border: 0
}

#ds-filter-color-1+label:before, #ds-filter-m-color-1+label:before {
   background-position: 0 -160px
}

#ds-filter-color-2+label:before, #ds-filter-m-color-2+label:before {
   background-position: -36px -160px
}

#ds-filter-color-3+label:before, #ds-filter-m-color-3+label:before {
   background-position: -72px -160px
}

#ds-filter-color-4+label:before, #ds-filter-m-color-4+label:before {
   background-position: -108px -160px
}

#ds-filter-color-5+label:before, #ds-filter-m-color-5+label:before {
   background-position: -144px -160px
}

#ds-filter-color-6+label:before, #ds-filter-m-color-6+label:before {
   background-position: -180px -160px
}

#ds-filter-color-7+label:before, #ds-filter-m-color-7+label:before {
   background-position: -216px -160px
}

#ds-filter-container-pc .dsf-tbc-color:checked+label:before,
   #ds-filter-container-mobile .dsf-tbc-color:checked+label:before {
   background-position-y: -196px
}

#ds-filter-container-pc .ds-filter-fold-btn {
   width: 24px;
   height: 24px;
   position: absolute;
   bottom: 0;
   right: 0;
   background:
      url('/alouer/resources/img/filter_sprite_20200325.png')
      -504px -320px no-repeat;
   background-size: 546px 464px;
   cursor: pointer
}

#ds-filter-container-pc .ds-filter-tag-size {
   float: left;
   width: auto;
   min-width: 128px;
   height: 60px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   position: relative;
   margin: 2px 14px 10px 0
}

#ds-filter-container-pc .ds-filter-item.size .ds-filter-tags {
   padding-top: 8px;
   padding-bottom: 0
}

#ds-filter-container-pc .ds-filter-tag-size>label {
   position: static;
   display: block;
   height: 60px;
   padding: 13px 8px 8px 58px;
   font-size: 14px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box
}

#ds-filter-container-pc .ds-filter-tag-size>label>span {
   font-size: 12px;
   font-weight: normal !important
}

#ds-filter-container-pc .ds-filter-item.size.unfold {
   height: 152px
}

#ds-filter-container-pc .ds-filter-item.size.unfold .ds-filter-fold-btn
   {
   background-position-y: -344px
}

.ds-filter-tag-size>label:before {
   content: '';
   position: absolute;
   top: 8px;
   left: 8px;
   width: 44px;
   height: 44px;
   background:
      url('/alouer/resources/img/filter_sprite_20200325.png')
      no-repeat;
   background-size: 273px 232px
}

#ds-filter-size-1+label:before, #ds-filter-m-size-1+label:before {
   background-position: 0 0
}

#ds-filter-size-2+label:before, #ds-filter-m-size-2+label:before {
   background-position: -44px 0
}

#ds-filter-size-3+label:before, #ds-filter-m-size-3+label:before {
   background-position: -88px 0
}

#ds-filter-size-4+label:before, #ds-filter-m-size-4+label:before {
   background-position: -132px 0
}

#ds-filter-size-5+label:before, #ds-filter-m-size-5+label:before {
   background-position: -176px 0
}

#ds-filter-size-6+label:before, #ds-filter-m-size-6+label:before {
   background-position: 0 -44px
}

#ds-filter-size-7+label:before, #ds-filter-m-size-7+label:before {
   background-position: -44px -44px
}

#ds-filter-size-8+label:before, #ds-filter-m-size-8+label:before {
   background-position: -88px -44px
}

#ds-filter-size-9+label:before {
   background-position: -132px -44px
}

#ds-filter-container-pc .ds-filter-tag-shape {
   float: left;
   width: auto;
   height: 50px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   position: relative;
   margin-right: 14px
}

#ds-filter-container-pc .ds-filter-tag-shape>label {
   position: static;
   display: block;
   height: 50px;
   padding: 16px 16px 0 52px;
   font-size: 14px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box
}

.ds-filter-tag-shape>label:before {
   content: '';
   position: absolute;
   top: 13px;
   left: 16px;
   width: 24px;
   height: 24px;
   background:
      url('/alouer/resources/img/filter_sprite_20200325.png')
      no-repeat;
   background-size: 273px 232px
}

#ds-filter-shape-1+label:before, #ds-filter-m-shape-1+label:before {
   background-position: -7px -94px
}

#ds-filter-shape-2+label:before, #ds-filter-m-shape-2+label:before {
   background-position: -79px -94px
}

#ds-filter-shape-3+label:before, #ds-filter-m-shape-3+label:before {
   background-position: -43px -94px
}

#ds-filter-shape-4+label:before, #ds-filter-m-shape-4+label:before {
   width: 28px;
   background-position: -113px -94px
}

#ds-filter-shape-1:checked+label:before, #ds-filter-shape-2:checked+label:before,
   #ds-filter-shape-3:checked+label:before, #ds-filter-shape-4:checked+label:before,
   #ds-filter-m-shape-1:checked+label:before, #ds-filter-m-shape-2:checked+label:before,
   #ds-filter-m-shape-3:checked+label:before, #ds-filter-m-shape-4:checked+label:before
   {
   background-position-y: -130px
}

#ds-filter-container-mobile {
   display: none
}

#ds-filter-container-pc .ds-filter-tag-price {
   float: left;
   width: 90px;
   height: 50px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   position: relative;
   margin-right: 14px
}

#ds-filter-container-pc .ds-filter-tag-price:last-child {
   margin: 0
}

#ds-filter-container-pc .ds-filter-tag-price>label {
   text-align: center;
   font-size: 14px;
   line-height: 18px;
   padding-top: 10px
}

/* #ds-filter-container-pc .ds-filter-tag-price:first-child>label,
   #ds-filter-container-pc .ds-filter-tag-price:last-child>label {
   padding-top: 14px
} */

#ds-filter-status {
   position: absolute;
   top: 15px;
   right: 156px;
   height: 42px
}

#ds-filter-status>div {
   float: left
}

.ds-filter-status-bt-checkbox {
   display: none
}

.ds-filter-status-bt-checkbox+label {
   position: relative;
   padding-left: 26px;
   cursor: pointer
}

#ds-filter-status>div {
   margin-right: 20px;
}

.ds-filter-status-bt-checkbox+label:before {
   content: '';
   display: none;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   width: 18px;
   height: 18px;
   position: absolute;
   top: 1px;
   left: 0;
   border: 1px solid #dfdfdf;
   border-radius: 1px;
   background-color: #fff
}

.ds-filter-status-bt-checkbox:checked+label:before {
   border-color: #222;
   background-color: #222
}

.ds-filter-status-bt-checkbox:checked+label:after {
   content: '';
   position: absolute;
   top: 5px;
   left: 4px;
   background-color: transparent;
   width: 8px;
   height: 4px;
   border: 2px solid #fff;
   border-top: none;
   border-right: none;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg)
}

.ds-filter-status-bt-checkbox:checked+label {
   font-weight: bold
}

#ds-selected-filter {
   display: none;
   height: 56px;
   position: relative;
   padding-right: 138px;
   background-color: #fafafa;
   border-bottom: 1px solid #dfdfdf
}

#ds-selected-filter-list {
   height: 56px
}

#ds-selected-filter .ds-selected-filter-left {
   display: inline-block;
   padding: 13px 0 13px 16px;
   white-space: nowrap;
   overflow: hidden;
   height: 56px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box
}

#ds-selected-filter .ds-selected-filter-right {
   width: 106px;
   padding: 8px 16px 8px 16px;
   position: absolute;
   right: 0;
   top: 0;
   background-color: transparent;
}

#ds-selected-filter .ds-sf-item {
   cursor: pointer
}

#ds-selected-filter .ds-selected-filter-item {
   display: inline-block;
   position: relative;
   vertical-align: top;
   height: 30px;
   line-height: 18px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 13px;
   color: #989898;
   padding: 6px 26px 6px 8px;
   margin-right: 12px;
   border-radius: 3px;
   background-color: #eee
}

#ds-selected-filter .ds-selected-filter-item:before {
   content: ' ';
   width: 8px;
   height: 8px;
   position: absolute;
   top: 11px;
   right: 10px;
   background:
      url('/alouer/resources/img/filter_sprite_20200325.png')
      -533px -343px no-repeat;
   background-size: 546px 464px
}

#ds-selected-filter .ds-selected-filter-item-color {
   display: inline-block;
   vertical-align: top;
   position: relative;
   width: 30px;
   height: 30px;
   margin-right: 12px;
   border-radius: 50%
}

#ds-selected-filter .ds-selected-filter-item-color:before {
   content: '';
   width: 30px;
   height: 30px;
   border-radius: 50%;
   position: absolute;
   top: 0;
   left: 0;
   background:
      url('/alouer/resources/img/filter_sprite_20200325.png')
      no-repeat;
   background-size: 273px 232px
}

#ds-selected-filter .ds-selected-filter-item-color[data-context="1"]:before
   {
   background-position: -3px -163px
}

#ds-selected-filter .ds-selected-filter-item-color[data-context="2"]:before
   {
   background-position: -39px -163px
}

#ds-selected-filter .ds-selected-filter-item-color[data-context="3"]:before
   {
   background-position: -75px -163px
}

#ds-selected-filter .ds-selected-filter-item-color[data-context="4"]:before
   {
   background-position: -111px -163px
}

#ds-selected-filter .ds-selected-filter-item-color[data-context="5"]:before
   {
   background-position: -147px -163px
}

#ds-selected-filter .ds-selected-filter-item-color[data-context="6"]:before
   {
   background-position: -183px -163px
}

#ds-selected-filter .ds-selected-filter-item-color[data-context="7"]:before
   {
   background-position: -219px -163px
}

#ds-selected-filter .ds-selected-filter-item-color>span:before {
   content: '';
   width: 8px;
   height: 8px;
   position: absolute;
   top: 11px;
   left: 11px;
   background:
      url('/alouer/resources/img/filter_sprite_20200325.png')
      -533px -325px no-repeat;
   background-size: 546px 464px
}

#filter-reset-btn {
   float: right;
   position: relative;
   width: 106px;
   height: 40px;
   line-height: 38px;
   font-size: 14px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   background-color: #fff;
   border: 1px solid #dfdfdf;
   border-radius: 3px;
   padding-left: 42px;
   cursor: pointer;
}

#filter-reset-btn:before {
   content: ' ';
   width: 24px;
   height: 24px;
   position: absolute;
   top: 8px;
   left: 14px;
   background:
      url('/alouer/resources/img/filter_sprite_20200325.png')
      -504px -368px no-repeat;
   background-size: 546px 464px
}


#ds-header-inner #ds-filter-count-m {
   display: none
}

#discoverList {
   opacity: 0;
   position: relative;
   min-height: 120px;
   padding-bottom: 26px;
   margin: 0 -6px;
   line-height: 1.5;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-transition: opacity .4s ease-in-out;
   -o-transition: opacity .4s ease-in-out;
   transition: opacity .4s ease-in-out
}

.card-imageMask {
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(255, 255, 255, 0);
   z-index: 1;
   -webkit-transition: background .1s ease-in-out;
   -o-transition: background .1s ease-in-out;
   transition: background .1s ease-in-out
}

.card-imageMask:hover {
   background-color: rgba(255, 255, 255, 0.4)
}

.discoverCard {
   position: relative;
   border: 1px solid #dfdfdf;
   border-radius: 3px;
   margin: 0 6px;
   -webkit-animation: fadeIn 0.4s ease-in-out;
   animation: fadeIn 0.4s ease-in-out;
   overflow: hidden
}

.discoverCard-a {
   display: block
}

.discoverCard-a:hover .card-imageMask {
   background-color: rgba(255, 255, 255, 0.4)
}

.discoverCard-imageWrap {
   position: relative;
   border-bottom: 1px solid #dfdfdf;
   overflow: hidden
}

.discoverCard-image {
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   width: 100%
}

.discoverCard-imageWrap-portrait {
   padding-bottom: 200% !important;
   background-color: #fafafa !important
}

.discoverCard-imageWrap-portrait>.discoverCard-image {
   left: 50%;
   width: auto;
   height: 100%;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%)
}

.discoverCard-imageWrap-landscape {
   padding-bottom: 40% !important;
   background-color: #fafafa !important
}

.discoverCard-imageWrap-landscape>.discoverCard-image {
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%)
}

.discoverCard-textBox {
   padding: 10px 12px 12px;
   font-size: 13px
}

.discoverCard-title {
   font-size: 15px;
   font-weight: bold
}

.discoverCard-artist {
   margin-top: 6px;
   color: #989898;
   letter-spacing: 0
}

.discoverCard-info {
   color: #989898;
   letter-spacing: 0
}

.discoverCard-tagBox {
   margin-top: 7px
}

.discoverCard-tagBox.gray {
   color: #989898
}

.discoverCard-tagBox.red {
   color: #df3b32
}

.discoverCard-tagBox.blue {
   color: #4085df
}
.discoverCard-tagBox.green {
   color: #00d827;
}
.discoverCard-tagBox.purple {
   color: #ed5bef;
}

.discoverCard-tag {
   display: inline-block;
   width: 14px;
   height: 14px;
   border-radius: 50%;
   margin-right: 4px;
   vertical-align: middle;
   background-color: currentColor
}

.discoverBanner {
   position: relative;
   border-radius: 3px;
   margin: 0 6px;
   -webkit-animation: fadeIn 0.4s ease-in-out;
   animation: fadeIn 0.4s ease-in-out;
   overflow: hidden
}

.discoverBannerTag {
   padding: 24px 0
}

.discoverBannerTag>h3 {
   margin-bottom: 12px;
   font-size: 18px;
   font-weight: bold
}

.discoverBannerTag-item {
   margin-top: 8px;
   font-size: 20px;
   font-weight: bold;
   color: #fff
}

.discoverBannerTag-item>a {
   display: inline-block;
   height: 42px;
   padding: 0 16px;
   border-radius: 21px;
   line-height: 42px;
   -webkit-transition: opacity .1s ease-in-out;
   -o-transition: opacity .1s ease-in-out;
   transition: opacity .1s ease-in-out
}

.discoverBannerTag-item>a:hover {
   opacity: 0.8
}

.discoverBannerTheme {
   min-height: 320px;
   padding: 15px
}

.discoverBannerTheme>h3 {
   font-size: 32px;
   font-weight: bold;
   word-break: keep-all;
   word-wrap: break-word;
   letter-spacing: -2px
}

.discoverBannerTheme>p {
   margin-top: 20px;
   font-size: 16px
}

.discoverBannerEvent-inner {
   padding-top: 126.811594%;
   background-size: cover
}

.discoverBannerTheme>a, .discoverBannerEvent-inner>a {
   display: block;
   position: absolute;
   bottom: 15px;
   left: 15px;
   right: 15px;
   height: 48px;
   border-radius: 3px;
   line-height: 48px;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   -webkit-transition: opacity .1s ease-in-out;
   -o-transition: opacity .1s ease-in-out;
   transition: opacity .1s ease-in-out
}

.discoverBannerTheme>a:hover, .discoverBannerEvent-inner>a:hover {
   opacity: 0.8
}

@media screen and (max-width:1200px) {
   #discover_filter {
      margin-top: 24px
   }
   #ds-filter-container-pc .ds-filter-item:nth-child(1) {
      width: 53%
   }
   #ds-filter-container-pc .ds-filter-item:nth-child(2) {
      width: 47%
   }
   #ds-filter-container-pc .ds-filter-tags {
      padding-left: 8px;
      max-width: 90%;
      max-width: -webkit-calc(100% - 86px);
      max-width: -moz-calc(100% - 86px);
      max-width: calc(100% - 86px)
   }
   #ds-filter-container-pc .ds-filter-tag-theme {
      width: 54px;
      margin-right: 12px
   }
   #ds-filter-container-pc .ds-filter-tag-color {
      margin-right: 12px
   }
}

@media screen and (max-width:991px) {
   #event_web_image {
      display: none
   }
   #event_web_tablet {
      display: block
   }
   #noticeBox-dsH3 {
      margin: 44px auto -17px
   }
   #ds-filter-container-pc {
      display: none
   }
   #ds-filter-container-mobile {
      display: block
   }
   #ds-filter-container-mobile .ds-filter-title {
      float: left;
      width: 20%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #fafafa;
      font-size: 15px;
      color: #989898;
      text-align: center;
      height: 52px;
      line-height: 52px;
      border: 1px solid #dfdfdf;
      border-left: 1px solid #eee;
      border-right: 0
   }
   #ds-filter-container-mobile .ds-filter-title:nth-child(1) {
      border-left: 0
   }
   #ds-filter-container-mobile .ds-filter-title.active {
      border-top: 2px solid #222;
      background-color: #fff;
      border-bottom: 0;
      font-weight: bold;
      color: #222
   }
   #ds-filter-container-mobile .ds-filter-content {
      height: 92px;
      width: 100%;
      overflow: hidden;
      position: relative;
      border-bottom: 1px solid #dfdfdf
   }
   #ds-filter-container-mobile .ds-filter-tags {
      display: none;
      padding: 16px 20px 0 20px;
      position: absolute;
      top: 0;
      bottom: -17px;
      left: 0;
      right: 0;
      overflow: auto;
      white-space: nowrap
   }
   #ds-filter-container-mobile .ds-filter-tags[data-index="2"] {
      padding-top: 28px
   }
   #ds-filter-container-mobile .ds-filter-tags[data-index="3"] {
      padding-top: 14px
   }
   #ds-filter-container-mobile .ds-filter-tags.active {
      display: block
   }
   #ds-filter-container-mobile .ds-filter-tag-theme {
      display: inline-block;
      width: 60px;
      height: 60px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      margin-right: 16px
   }
   #ds-filter-container-mobile .ds-filter-tag-theme>label {
      text-align: center;
      font-size: 14px;
      height: 60px;
      line-height: 60px
   }
   #ds-filter-container-mobile .ds-filter-tag-color {
      display: inline-block;
      width: 36px;
      height: 36px;
      position: relative;
      margin-right: 14px
   }
   #ds-filter-container-mobile .ds-filter-tag-size {
      display: inline-block;
      width: auto;
      height: 60px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      margin: 2px 14px 10px 0
   }
   #ds-filter-container-mobile .ds-filter-tag-size>label {
      position: static;
      display: block;
      height: 60px;
      padding: 13px 13px 8px 58px;
      font-size: 14px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box
   }
   #ds-filter-container-mobile .ds-filter-tag-size>label>span {
      font-size: 12px;
      font-weight: normal !important
   }
   #ds-filter-container-mobile .ds-filter-tag-shape {
      display: inline-block;
      width: auto;
      height: 60px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      margin-right: 14px
   }
   #ds-filter-container-mobile .ds-filter-tag-shape>label {
      position: static;
      display: block;
      height: 60px;
      padding: 22px 16px 0 52px;
      font-size: 14px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box
   }
   #ds-filter-container-mobile .ds-filter-tag-shape>label:before {
      top: 18px
   }
   #ds-filter-container-mobile .ds-filter-tag-price {
      display: inline-block;
      width: 90px;
      height: 60px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      margin-right: 14px
   }
   #ds-filter-container-mobile .ds-filter-tag-price>label {
      text-align: center;
      font-size: 14px;
      line-height: 18px;
      padding-top: 11px
   }
   #ds-filter-container-mobile .ds-filter-tag-price:first-child>label,
      #ds-filter-container-mobile .ds-filter-tag-price:last-child>label {
      padding-top: 21px
   }
   #ds-selected-filter {
      height: 48px;
      padding-right: 48px
   }
   #ds-selected-filter-list {
      height: 48px
   }
   #ds-selected-filter .ds-selected-filter-left {
      height: 48px;
      padding: 11px 0 11px 15px
   }
   #ds-selected-filter .ds-selected-filter-item {
      height: 26px;
      padding: 5px 26px 5px 8px;
      margin-right: 10px
   }
   #ds-selected-filter .ds-selected-filter-item:before {
      top: 9px
   }
   #ds-selected-filter .ds-selected-filter-right {
      width: 52px;
      padding: 0
   }
   #filter-reset-btn {
      width: 0;
      height: 48px;
      border: 0;
      padding-left: 52px;
      background-color: #fafafa
   }
   
   #ds-filter-status {
      position: static;
      float: left;
      padding-bottom: 12px
   }
   #ds-sorting-select {
      top: 0
   }
   #ds-header-holder {
      font-size: 13px;
      margin-top: 0
   }
   #ds-header-inner {
      padding: 0
   }
   #ds-header-inner #ds-filter-count-pc {
      display: none
   }
   #ds-header-inner #ds-filter-count-m {
      display: block;
      clear: both;
      border-top: 1px solid #222;
      text-align: center;
      color: #989898;
      line-height: 100%;
      padding: 12px 0
   }
   .ds-filter-status-bt-checkbox+label {
      padding-top: 2px
   }
   #ds-sorting-select-selected {
      padding-top: 12px
   }
   .ds-event-banner-txt:nth-child(n) {
      padding-top: 12px;
      padding-left: 20px
   }
   .ds-event-banner-txt>div {
      margin-bottom: 9px;
      font-size: 13px
   }
   .ds-event-banner-txt>p {
      font-size: 24px;
      margin-bottom: 2px
   }
   .ds-event-banner-txt>span {
      font-size: 13px
   }
}

@media screen and (max-width:767px) {
   #ds-m-btn-show-filter {
      display: block;
      position: relative;
      float: left;
      width: 148px;
      height: 42px;
      padding-left: 16px;
      border: none;
      border-radius: 1px;
      outline: none;
      font-size: 15px;
      color: #fff;
      background-color: #222;
      text-align: left
   }
   #ds-m-btn-show-filter:after {
      content: ' ';
      display: block;
      width: 18px;
      height: 18px;
      position: absolute;
      top: 12px;
      right: 6px;
      background: url('/resources/img/filter_sprite.png')
         -144px -36px no-repeat;
      background-size: 162px 108px
   }
   .ds-sorting-select-option {
      height: 37px;
      padding-top: 8px
   }
   #discover_contents, #discover_contents.for_luna {
      /* min-height: 300px */
   }
   #ds-filter-price-slider {
      margin: 0 8px
   }
   .ds-filter-price-slider-handle {
      width: 16px;
      height: 16px
   }
   #discoverList {
      min-height: 80px
   }
   #ds-event-banner {
      margin-bottom: 28px
   }
}

@media screen and (max-width:543px) {
   #event_web_tablet {
      display: none
   }
   #event_web_mobile {
      display: block
   }
   #noticeBox-dsH3 {
      margin-top: 32px;
      font-size: 20px
   }
   .ds-event-banner-txt>div {
      margin-bottom: 6px;
      font-size: 10px
   }
   .ds-event-banner-txt>p {
      font-size: 15px;
      margin-bottom: 2px
   }
   .ds-event-banner-txt>span {
      font-size: 10px;
      line-height: 18px;
      padding: 1px 5px
   }
   #ds-event-banner .ds-event-banner-txt {
      padding: 14px 14px 12px
   }
   img#ds-event-banner-under-543 {
      display: block;
      position: relative;
      height: auto
   }
   #ds-header.sticky {
      top: 42px
   }
   #ds-m-btn-show-filter {
      width: 100%;
      padding-left: 0;
      text-align: center;
      margin-bottom: 8px
   }
   #ds-sorting-select {
      width: 98px
   }
   .ds-sorting-select-option {
      height: 31px;
      padding: 6px 0 0 10px
   }
   .discoverBannerTag>h3 {
      font-size: 16px
   }
   .discoverBannerTag-item {
      font-size: 18px
   }
   .discoverBannerTag-item>a {
      height: 38px;
      padding: 0 12px;
      border-radius: 19px;
      line-height: 38px
   }
   .discoverBannerTheme {
      min-height: 210px;
      padding: 10px
   }
   .discoverBannerTheme>h3 {
      font-size: 20px;
      letter-spacing: inherit
   }
   .discoverBannerTheme>p {
      margin-top: 10px;
      font-size: 12px
   }
   .discoverBannerTheme>a, .discoverBannerEvent-inner>a {
      bottom: 10px;
      left: 10px;
      right: 10px;
      height: 42px;
      line-height: 42px;
      font-size: 14px
   }
}

@media screen and (max-width:991px) {
   #header {
      box-shadow: none !important
   }
   .header_banner_padding #contents {
      padding-top: 119px
   }
   #wrap.header_banner_padding.wrap_padding {
      margin-top: 52px
   }
}
ds-filter-count-num{
   text-align: left;
}
@media screen and (max-width:767px) {
   #wrap.header_banner_padding #mobile_nav {
      top: 119px
   }
   .header_banner_padding #contents {
      padding-top: 119px
   }
}